{% extends "home/header.html" %}
{% block content%}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>SignUp Form</title>
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"/>
</head>
  <body>
      
      <div class="main-w3layouts wrapper">
          <h1>Create a new account</h1>
          <div class="main-agileinfo">
              
            <div class="agileits-top">
              <form action="" method="post">
                {% csrf_token %}
                              
                <div >
                  {{form|crispy}}
                </div>
                
                <div class="wthree-text">
                  <label class="anim">
                    <input type="checkbox" class="checkbox" required="">
                    <span>I Agree To The Terms & Conditions</span>
                  </label>
                  <div class="clear"> </div>
                </div>
                <button id="submit" name="submit" class="btn btn-primary" type="submit">Sign Up</button>
              </form>
              <br>
              <p>Already have an Account? <a href="{% url 'signin' %}"> Signin Now!</a></p>
            </div>
          </div>
          
          <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <!-- //main -->
</body>
</html>
{% endblock content%}